/* 

Code written by Oladeji Sanyaolu, 2018
For 'LifeofD' website
Do not remove this comments

*/

/* Template stylesheet */
*,body {
    margin: 0px;
    padding: 0px;
  }

  body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: rgb(243, 243, 223);

    background-image: url('../img/background/bg_trans_two.jpg'); 
    background-size: 100%;
    background-position: right top; 
    background-attachment: fixed;
  }

  header,
  footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    padding: 50px 0;
  }

  footer {
    line-height: 1.8;
    text-align: center;
    padding: 50px 0;
    color: #999;
  }

  .description {
    text-align: center;
    font-size: 16px;
  }

  a {
    color: #444;
    text-decoration: none;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 100px rgb(199, 199, 199);
    z-index: -1;
    top: 0px;
    left: 0px;
  }


/* Dropdown stylesheet */
#dropdown-menu
{
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: rgb(102, 100, 90);
}
#dropdown-list, .dropbtn
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#dropdown-list
{
  float: left;
}

#dropdown-list:hover, .dropdown:hover .dropbtn
{
  background-color: rgb(221, 228, 121);
}

#dropdown-list.dropdown-list
{
  display: inline-block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content #dropdown-list
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content #dropdown-list:hover
{
  background-color: #f1f1f1;
}

.show
{
  display: block;
}




/* Box stylesheet */
 .box
 {
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;

    padding: 50px 0;
    width: auto;
    height: auto;

    /*background: white;*/
    border: 4px solid rgb(24, 23, 23);
    border-style: dotted;
    text-align: center;
    
 }

 .textInfo
 {
    font-family: cursive;
    padding:50px;
 }
