/*
    Code written by Oladeji Sanyaolu (index.css) 12/4/2019
    Email: oladejisanyaolu@gmail.com
*/

body
{
    background-image: url('../img/background/bg_trans.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-color: rgba(129, 118, 69, 0.61);
    background-blend-mode: lighten;
}

table
{
    margin: auto;
    width: auto;
}

#credit
{
    text-align: center;
    outline-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.5;
}

.box
{
    width: auto;
    height: 400px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(121, 121, 121);

    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

#box_row
{
    width: 449px;
    margin: auto;
    border: 2px solid rgb(24, 23, 23);
}

.box-text
{
    text-align:center; 
    position:relative; 
    top:45%; 
    transform: translateY(-50%);
}
